body {
    height: 100vh;
    text-align: center;
    display: grid;
    place-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FFFFF0;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-size: 1rem;
    background-image: url(../assets/imágenes/nubes.webp);
}

.container {
    width: 68rem;
    max-width: 100%;
    height: auto;
    background-color: #fed90f;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 2rem 0rem;
}

h1 {
    color: #0165fc;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.card-one {
    height: 35rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    transition: transform 0.3s ease;
    background-image: url(../assets/imágenes/personajes.webp);
}

input, button {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    width: 75%;
}

button {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.per-img {
    height: 20rem;
    transition: 0.5s;
}

.per-img:hover {
    transform: scale(1.2);
}

.per-name, .per-err {
    color: black;
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

.card-two {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 0.5rem;
}

a:hover {
    background-color: #0056b3;
}
